/* Fonts "PT Sans" */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Common styles */

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 21px;
  min-height: 100%;
  color: #000000;
  font-size: 18px;
  margin: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

legend {
  padding-left: 0;
  padding-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages styles */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px  0px 20px 0px rgba(0, 0, 0, 0.2);
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
}

.navigation-item {
  padding: 20px 16px;
}

.logo {
  margin-top: 5px; /*вопрос потом, почему без маргина пикча сверху съедается */
  display: block;
  margin-right: 28px;
}

.preview-background {
  overflow: hidden;
  background-image: url("../images/preview-header-background-mask.svg"), url("../images/preview-header-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: bottom, top;
  text-align: center;
  height: 485px;
  margin-bottom: 69px;
}

.greeting h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.greeting p {
  display: inline-block;
  line-height: 26px;
  font-size: 22px;
  color: #333333;
  text-align: center;
}

.greeting {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-2 {
  margin-bottom: 64px;
}

.greeting-2 h2 {
  margin-bottom: 20px;
}

.blog-article {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.advantages-item h3 {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 62px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 30px;
}

.advantages-item h3:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 85px;
  right: 85px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-item p {
  color: #333333;
  text-align: center;
}

.suggestion h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.suggestion p {
  line-height: 26px;
  font-size: 22px;
  color: #333333;
  margin-bottom: 54px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  padding: 112.5px 85px;
}

.advantages-item-background {
  background: rgba(131, 179, 211, 0.2);
}

.newsletter {
  background-image: url("../images/blur-background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.newsletter h2 {
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.registration {
  line-height: 36px;
  font-size: 20px;
  display: inline-block;
  padding: 8px 50px;
}

.newsletter p {
  line-height: 26px;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 54px;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
  line-height: 36px;
  font-size: 20px;
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
}

.footer-contacts-address-phone {
  line-height: 40px;
  font-size: 40px;
}

.filter-content {
  background-image: url(../images/blur-catalog-header.jpg);
  min-height: 412px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
  margin-bottom: 50px;
}

.filter-selection {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
  color: #333333;
  border: 2px solid #E5E5E5;
  width: 292px;
  padding: 10px 18px; /*10px тест вариация все из за тех же бордеров в хроме */
  margin-right: 70px;
  height: 49px;
}

.filter-content h1 {
  line-height: 78px;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 8px;
}
*
.breadcrumbs li {
  line-height: 21px;
  font-size: 16px;
}

.catalog-filter-group legend,
.price-filter-wrapper legend {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 32px;
}

.price-filter-wrapper {
  margin-right: 70px;
}

.control {
  line-height: 23px;
}

.results h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-right: auto;
}

.product-card-link h3 {
  line-height: 28px;
  font-size: 24px;
}

.product-card-image {
  display: block;
}

/*потом разобраться почему разница в 2 пикселя от высоты в макете*/

.product-card-link-image {
  grid-column-start: 1;
  grid-column-end: 3;
}

.product-card-link {
  grid-column-start: 1;
  grid-column-end: 3;
}

.stars-count {
  display: flex;
  align-items: center;
}

.product-item b {
  font-weight: 400;
  text-align: right;
}

.description-card-button {
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 26px;
}

.to-favorites-button {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.rating {
  background-color: #F2F2F2;
  line-height: 20px;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 9px 22px 8px 22px;
}

.switch-button {
  display: flex;
  background-color: #82B3D3;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  height: 60px;
  width: 60px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.navigation {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-logo {
  display: block;
}

.preview-sedona {
  display: block;
  margin: 51px auto 0px auto;
}

.blog-article-description {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
  width: 400px;
}

.blog-article-description h3 {
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 30px;
}

.blog-article-description h3:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 85px;
  right: 85px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.blog-article-description p {
  text-align: center;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blog-article-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 64px;
}

.advantages-item-icons {
  background: #ffffff;
  padding: 81px 85px;
}

.advantages-item-icons-background {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-icons h3 {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-icons p {
  color: #333333;
  text-align: center;
}

.advantages-description-wrapper {
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.advantage-icon-habitation {
  background-image: url("../images/icons/advantage-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantage-icon-food {
  background-image: url("../images/icons/advantage-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantage-icon-present {
  background-image: url("../images/icons/advantage-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.suggestion {
  text-align: center;
  padding: 96px 0px;
}

.newsletter-text {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  flex-grow: 1;
  padding: 14px 20px;
  border-radius: 4px 0px 0px 4px;
}

.page-footer{
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.social-list {
  display: flex;
  align-items: center;
}

.booking {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

/* Section filter-content */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  min-height: 160px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  gap: 10px;
}

.catalog-filter-list li {
  margin-bottom: 16px;
}

.catalog-filter-list li:last-child {
  margin-bottom: 0px;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140.15px;
}

.catalog-filter-list {
  width: 150.43px;
}

.filter-content-components-wrapper {
  padding: 35px 70px 70px 70px;
}

.filter-button {
  margin-bottom: 32px;
  padding: 8px 50px;
  background-color: #82B3D3;
}

.results-filter-button-wrapper {
  padding-top: 56px;
}

.reset-button {
  background: transparent;
  padding: 8px 57.5px;
}

.results {
  display: flex;
  margin-bottom: 40px;
  width: auto;
  padding: 0px 70px;
  align-items: center;
}

.product-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

/*разобраться потом: "почему ширина 341px при width: 300px", с одной стороны из за бордера, но почему не 342 пикселя */
.product-item {
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  width: 300px;
}

.product-cards {
  margin-bottom: 40px;
  padding: 0px 70px;
}

.page-switch {
  display: flex;
  margin-bottom: 60px;
  padding: 0px 70px;
}

.switch-button-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pages-count {
  color: #000000;
  background-color: #ffffff;
}

.newsletter-catalog {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.newsletter-catalog h2 {
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.newsletter-catalog p {
  line-height: 26px;
  color: #333333;
  font-size: 22px;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.form-text {
  position: relative;
  width: 143px;
}

.form-text,
.input-min,
.input-max {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.input-min,
.input-max {
  padding: 12px 37px 12px 20px;
  width: 86px; /*143*/
  height: 24px; /*48*/
  font-weight: 700;
  background-color: #F2F2F2;
  -moz-appearance: textfield;
}

.input-min {
  border: none;
  border-radius: 4px 0px 0px 4px;
}

.input-max {
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.static-value {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #d7d7d7; /*тест цвет, настоящий в фигме не нашел*/
}

.form-text-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.slider {
  height: 4px;
  width: 287px;
  background-color: #5f686c;
  position: relative;
}

.slider .progress {
  height: 4px;
  position: absolute;
  left: 0;
  right: 25%;
  background-color: #ffffff;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -6px;
  height: 4px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
  margin-left: 0;
}

input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  background: #FFFFFF;
  border-radius: 25%;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  -moz-appearance: none;
  background: #FFFFFF;
  border: none;
  border-radius: 25%;
  pointer-events: auto;
}

.navigation-link-current{
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-offset: 19px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.search-icon-nav {
  display: block;
  height: 20px;
  width: 20px;
  background: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: bottom 0.5px right 0.5px;
  margin-right: 24px;
}

.card-icon-nav {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  background: url("../images/icons/card.svg");
  background-repeat: no-repeat;
  margin-right: 24px;
}

.navigation-user li:first-child,
.navigation-user li:nth-child(2) {
  padding: 22px 12px;
}

.navigation-user li:nth-child(2) {
  margin-right: 20px;
}

.card-counts {
  position: absolute;
  top: -11px;
  right: -8px;
  height: 10px;
  padding: 5px 5px 5px 4px;
  width: 11px;
  border-radius: 50%;
  background-color: #7DB54F;
  display: flex;
}

.card-counts-number {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.social-button-vk {
  display: block;
  height: 14px;
  width: 24px;
  background: url("../images/icons/social-icon-vk.svg");
  background-repeat: no-repeat;
}

.social-button-tg {
  display: block;
  height: 16px;
  width: 18px;
  background: url("../images/icons/social-icon-tg.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.social-button-yt {
  display: block;
  height: 17px;
  width: 22px;
  background: url("../images/icons/social-icon-yt.svg");
  background-repeat: no-repeat;
}

.social-button-vk-wrapper {
  padding: 13px 11.67px;
}

.social-button-tg-wrapper {
  padding: 12px 14.67px;
}

.social-button-yt-wrapper {
  padding: 11.5px 12.67px;
}

.footer-logo-copyright {
  display: block;
  height: 33px;
  width: 115px;
  background: url("../images/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.layout-list {
  display: flex;
  gap: 8px;
}

.view-icon-catalog {
  display: block;
  height: 14px;
  width: 16px;
  padding: 15px 14px;
  border: 2px solid #E5E5E5; /*разобраться потом с хромом, почему от масштабирования ставится 1.6 пикселей */
  border-radius: 4px;
}

.layout-item-grids {
  background: url("../images/icons/view-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.layout-item-extensive {
  background: url("../images/icons/view-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.layout-item-linearly {
  background: url("../images/icons/view-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.layout-item-current {
  border: 2px solid #000000;
}

.desired {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.stars-count li {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: no-repeat;
  margin-right: 6px;
}

.stars-count li:last-child {
  margin-right: 0px;
}

.breadcrumbs-home {
  display: block;
  width: 12px;
  height: 15px;
  background: url("../images/icons/breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.breadcrumbs-arrow {
  display: block;
  width: 8px;
  height: 20px;
  background: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
