/* Fonts "PT Sans" */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Common styles */

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  flex-direction: column;
  line-height: 21px;
  min-height: 100%;
  color: #000000;
  font-size: 18px;
  display: flex;
  margin: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  border: none;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages styles */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
}

.preview-background {
  background-image: url("../images/preview-header-background-mask.svg"), url("../images/preview-header-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: bottom, top;
  text-align: center;
  height: 485px;
  margin-bottom: 69px;
}

.greeting h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.greeting p {
  line-height: 26px;
  font-size: 22px;
  color: #333333;
  text-align: center;
}

.greeting {
  margin-bottom: 69px;
}

.greeting-2 {
  margin-bottom: 64px;
}

.greeting-2 h2 {
  margin-bottom: 20px;
}

.blog-article {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.blog-article h3 {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
}

.advantages-item h3 {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 62px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item p {
  color: #333333;
  text-align: center;
}

.suggestion h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.suggestion p {
  line-height: 26px;
  font-size: 22px;
  color: #333333;
  margin-bottom: 54px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112.5px 85px;
}

.advantages-item-background {
  background: rgba(131, 179, 211, 0.2);
}

.newsletter {
  background-image: url("../images/blur-background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 96px 0 104px;
}

.newsletter h2 {
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.registration {
  line-height: 36px;
  font-size: 20px;
}

.newsletter p {
  line-height: 26px;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 54px;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
  line-height: 36px;
  font-size: 20px;
  padding: 8px 50px;
}

.footer-contacts-address-phone {
  line-height: 40px;
  font-size: 40px;
}

.filter-content {
  background-image: url(../images/blur-catalog-header.jpg); /* height 412px */
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-selection {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
  color: #333333;
}

.filter-content {
  color: #ffffff;
}

.filter-content h1 {
  line-height: 78px;
  font-weight: 700;
  font-size: 60px;
}

.breadcrumbs li {
  line-height: 21px;
  font-size: 16px;
}

.catalog-filter-group legend {
  line-height: 24px;
  font-size: 20px;
}

.control {
  line-height: 23px;
}

.filter-button {
  background-color: #82B3D3;
}

.reset-button {
  background: transparent;
}

.results h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
}

.product-card-link h3 {
  line-height: 28px;
  font-size: 24px;
}

.product-card-description-wrapper b {
  font-weight: 400;
}

.description-card-button {
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.to-favorites-button {
  background-color: #82B3D3;
}

.rating {
  line-height: 20px;
  font-size: 16px;
  color: #333333;
}

.switch-button {
  background-color: #82B3D3;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.navigation {
  height: 64px;
  display: flex;
  align-items: center;
}

.navigation-list {
  width: 339px;
  display: flex;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-logo {
  display: block;
}

.preview-sedona {
  display: block;
  margin: 0 auto;
}

.blog-article-description {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
  width: 400px;
}

.blog-article-description h3 {
  display: block;
  margin-bottom: 62px;
  text-align: center;
  text-transform: uppercase;
}

.blog-article-description p {
  display: block;
  text-align: center;
}

.advantages {
  display: flex;
}

.blog-article-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 64px;
}

.advantages-item-icons {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 81px 85px;
}

.advantages-item-icons h3 {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-icons p {
  color: #333333;
  text-align: center;
}

.advantages-description-wrapper {
  height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.advantage-icon-habitation {
  background-image: url("../images/icons/advantage-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantage-icon-food {
  background-image: url("../images/icons/advantage-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantage-icon-present {
  background-image: url("../images/icons/advantage-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.suggestion {
  padding: 96px 0px;
  text-align: center;
}

.registration {
  padding: 8px 50px;
}

/*потом вопрос по стилизации инпута*/
.newsletter-text {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 22px;
  border: none;
  padding: 14px 20px;
}

.page-footer{
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
}

.booking {
  padding: 8px 34px;
}
